
.bg-orange{
    background-color: rgb(253, 193, 53)
}

.bg-whitesmoke{
    background-color: whitesmoke;
}

.black-border{
    border-bottom: 1px solid #222222;
}

.btn-1{
    font-size: 13px;
    border-radius: 30px;
    padding: 10px 20px 10px;
}

.fs-serif{
    font-family: 'Source Serif 4', sans-serif;
}

#navbar{
    margin: 0px; 
    padding: 0px;
}

#padding10{
    padding:10px;
}

#content1{
    position: relative;
    padding: 40px; 
}

#img99{
    height: 400px; 
    padding-top: 50px;
}

#content1-xs{
    position: relative;
    padding: 40px; 
}

ul > li{
    color: rgba(0, 0, 0, 0.459);
}